<h2>Custom table</h2>

<div class="example-container mat-elevation-z8">

    <table mat-table [dataSource]="persons">

        <!-- title Column -->
        <ng-container matColumnDef="title" sticky>
            <th mat-header-cell *matHeaderCellDef> title </th>
            <td mat-cell *matCellDef="let element"> {{element.name.title}} </td>
        </ng-container>
        <!-- first Column -->
        <ng-container matColumnDef="first" sticky>
            <th mat-header-cell *matHeaderCellDef> first </th>
            <td mat-cell *matCellDef="let element"> {{element.name.first}} </td>
        </ng-container>
        <!-- last Column -->
        <ng-container matColumnDef="last" sticky>
            <th mat-header-cell *matHeaderCellDef> last </th>
            <td mat-cell *matCellDef="let element"> {{element.name.last}} </td>
        </ng-container>

        <!-- street Column -->
        <ng-container matColumnDef="street">
            <th mat-header-cell *matHeaderCellDef> street </th>
            <td mat-cell *matCellDef="let element"> {{element.location.street.number}} {{element.location.street.name}} </td>
        </ng-container>
        <!-- city Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> city </th>
            <td mat-cell *matCellDef="let element"> {{element.location.city}} </td>
        </ng-container>
        <!-- state Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> state </th>
            <td mat-cell *matCellDef="let element"> {{element.location.state}} </td>
        </ng-container>
        <!-- postcode Column -->
        <ng-container matColumnDef="postcode">
            <th mat-header-cell *matHeaderCellDef> postcode </th>
            <td mat-cell *matCellDef="let element"> {{element.location.postcode}} </td>
        </ng-container>
        <!-- country Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> country </th>
            <td mat-cell *matCellDef="let element"> {{element.location.country}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <!-- cell Column -->
        <ng-container matColumnDef="cell">
            <th mat-header-cell *matHeaderCellDef> cell </th>
            <td mat-cell *matCellDef="let element"> {{element.cell}} </td>
        </ng-container>
        <!-- phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- age Column -->
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> age </th>
            <td mat-cell *matCellDef="let element"> {{element.dob.age}} </td>
        </ng-container>
        <!-- date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> date </th>
            <td mat-cell *matCellDef="let element"> {{element.dob.date}} </td>
        </ng-container>

        <!-- username Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> username </th>
            <td mat-cell *matCellDef="let element"> {{element.login.username}} </td>
        </ng-container>
        <!-- password Column -->
        <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef> password </th>
            <td mat-cell *matCellDef="let element"> {{element.login.password}} </td>
        </ng-container>
        <!-- sha1 Column -->
        <ng-container matColumnDef="sha1">
            <th mat-header-cell *matHeaderCellDef> sha1 </th>
            <td mat-cell *matCellDef="let element"> {{element.login.sha1}} </td>
        </ng-container>
        <!-- uuid Column -->
        <ng-container matColumnDef="uuid">
            <th mat-header-cell *matHeaderCellDef> uuid </th>
            <td mat-cell *matCellDef="let element"> {{element.login.uuid}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>