<br>
<form>
    <div class="classForm">
        <mat-form-field class="classTest1">
            <mat-label>Test 1</mat-label>
            <input matInput placeholder="Place holder de test 1" value="Test 12345678">
        </mat-form-field>

        <mat-form-field class="classTest2">
            <mat-label>Test 2</mat-label>
            <input matInput placeholder="Place holder de test 2" value="Test 100px Fin">
        </mat-form-field>

        <mat-form-field class="classTest3" appearance="fill">
            <mat-label>Test 3</mat-label>
            <input matInput placeholder="Place holder de test 3" value="Test width: 14em width: 14em width: 14em Fin">
        </mat-form-field>

        <mat-form-field class="classTest4">
            <mat-label>Test 4</mat-label>
            <input matInput placeholder="Couleur test 4" type="color">
        </mat-form-field>


        <mat-form-field class="classTest5">
            <mat-label>Test 5</mat-label>
            <input matInput placeholder="Place holder de test 5" type="text">
        </mat-form-field>

    </div>

</form>