table {
    width: 80%;
}

.mat-column-position {
    width: 10px;
    border-right: 1px solid currentColor;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    color: rosybrown;
}

.mat-column-name {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    border-right: 1px solid currentColor;
    color: blue;
    white-space: normal;
    word-wrap: break-word;
    max-width: 100px;
}

.mat-column-weight {
    border-right: 1px solid currentColor;
    color: chocolate;
}

.mat-column-symbol {
    border-right: 1px solid currentColor;
    color: chocolate;
}

.mat-column {
    padding-right: 0px;
    padding-left: 0px;
    border-right: 1px solid currentColor;
    text-align: center;
    color: aqua;
}

td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
    padding-right: 0px;
    padding-left: 0px;
}

// .mat-cell {
//     color: green;
// }
// td,
// th {
//     white-space: normal;
//     word-wrap: break-word;
//     max-width: 100px;
// }