/* SCSS HEX */

$deep-space-sparkle: #4c5b5cff;
$bittersweet: #ff715bff;
$sunglow: #f9cb40ff;
$bitter-lime: #bced09ff;
$blue-ryb: #2f52e0ff;
.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

table {
    width: 80%;
}

.mat-column-position {
    width: 10px;
    border-right: 1px solid currentColor;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    color: $deep-space-sparkle;
}

.mat-column-name {
    // padding-right: 0px;
    // padding-left: 0px;
    // text-align: center;
    // border-right: 1px solid currentColor;
    // color: $deep-space-sparkle;
    // white-space: normal;
    // word-wrap: break-word;
    // color: #bced09ff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
}

.mat-header-cell {
    color: #f9cb40ff;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #f9cb40ff;
}

.mat-row {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-column-weight {
    border-right: 1px solid currentColor;
    color: $deep-space-sparkle;
}

.mat-column-symbol {
    border-right: 1px solid currentColor;
    color: $deep-space-sparkle;
}

.mat-column {
    padding-right: 0px;
    padding-left: 0px;
    border-right: 1px solid currentColor;
    text-align: center;
    color: deep-space-sparkle;
}

td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
    padding-right: 0px;
    padding-left: 0px;
}

// .mat-cell {
//     color: green;
// }
// td,
// th {
//     white-space: normal;
//     word-wrap: break-word;
//     max-width: 100px;
// }
.expansion {
    width: 80%;
}