<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error quam quod et ut eaque sequi nemo tempore nesciunt corrupti quae? Quo libero delectus placeat animi, iusto necessitatibus, corrupti officia dolore ad vel molestiae. Dolor itaque a iusto reiciendis
    expedita. Consequatur rem deserunt suscipit? Vitae soluta accusantium inventore deleniti, dolorem sunt. Nihil atque praesentium eligendi quae libero, reiciendis culpa veniam quo iure dolor! Dolorum necessitatibus sapiente esse earum tenetur tempore
    maxime quisquam perspiciatis eveniet aliquam eaque ipsa vel quos unde, autem quae cum dolores repellendus blanditiis dicta? Deserunt quas recusandae dolor, quasi dolorum maiores sequi vitae neque obcaecati est rem? Ducimus.
</div>
<div mat-dialog-actions>
    <button mat-button color="secondary">No</button>
    <button mat-button color="primary">Yes</button>
    <button mat-button color="alert">Alert</button>
    <button mat-button mat-dialog-close>Close</button>
</div>